In [139]:
import pandas as pd

In [140]:
df = pd.read_csv('spotify_millsongdata.csv')

In [141]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [142]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [143]:
df.shape

(57650, 4)

In [144]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [145]:
df = df.drop('link',axis=1).reset_index(drop=True)

In [146]:
df.head(10)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,"Chiquitita, tell me what's wrong \r\nYou're e..."
8,ABBA,Crazy World,I was out with the morning sun \r\nCouldn't s...
9,ABBA,Crying Over You,I'm waitin' for you baby \r\nI'm sitting all ...

In [147]:
df['text'][9]

"I'm waitin' for you baby  \r\nI'm sitting all alone  \r\nI feel so cold without you  \r\nIt chills me to the bone  \r\nI never thought you'd leave me  \r\nBut now I know it's true  \r\nOh Lord I'm blue  \r\nI'm cryin' over you  \r\nI'm waitin' for you baby  \r\nI'm sittin' all alone  \r\nI feel so cold without you  \r\nIt chills me to the bone  \r\nI never thought you'd leave me  \r\nBut now I know it's true  \r\nOh Lord I'm blue  \r\nI'm cryin' over you  \r\n  \r\nCryin' over you  \r\nI'm cryin' over you  \r\nCryin' over  \r\nLittle memories of things we used to do  \r\nOh Lord I'm blue  \r\nI'm cryin' over you  \r\nOh Lord I'm blue  \r\nI'm cryin' over you  \r\nOh Lord I'm blue  \r\nI'm cryin' over you\r\n\r\n"

In [148]:
df.sample(9000)

,artist,song,text
34989,Halloween,Halloween Night,"Chorus: \r\nHallowe'en, Hallowe'en night, \r..."
55741,Waylon Jennings,It's The World's GOne Crazy (Cotillion),It's the world's gone crazy cotillion \r\nThe...
40980,Kylie Minogue,Cupid Boy,If only you knew \r\nI shimmer for you \r\nO...
34023,Glee,Broadway Baby,Rachel: \r\nI'm just a Broadway Baby \r\nWal...
28774,Dave Matthews Band,Stolen Away On 55TH And 3RD,Hello again \r\nSeems like forever between no...
...,...,...,...
39637,Kelly Clarkson,A Moment Like This(vegas Style),"What if I told you it was all meant to be, \r..."
20890,Violent Femmes,Good Friend,If only you could know \r\nHow I'd love you s...
16852,Raffi,Sharing Song,It's mine but you can have some \r\nWith you ...
39180,Justin Bieber,PYD,[Intro:] \r\nPyd pyd pyd \r\nI'mma put you d...
45273,Neil Diamond,It Don't Seem Likely,"Likely, it don't seem likely \r\nFaithless lo..."

In [149]:
# Drop the first 20,000 rows
df = df.drop(df.index[7000:])

In [150]:
df.shape

(7000, 3)

# text cleaning

In [151]:
df['text'] = df['text'].str.lower().replace(r'\w\s', ' ').replace(r'\n', ' ', regex = True)

# streamer

In [152]:
import nltk
from nltk.stem.porter import PorterStemmer

In [153]:
Stemmer = PorterStemmer()

In [154]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [Stemmer.stem(w) for w in token]
    return " ".join(a)

In [155]:
token("you are beautiful , beautie , beauty")

'you are beauti , beauti , beauti'

In [156]:
df['text'].apply(lambda x: token(x))

0       look at her face , it 's a wonder face and it ...
1       take it easi with me , pleas touch me gentli l...
2       i 'll never know whi i had to go whi i had to ...
3       make somebodi happi is a question of give and ...
4       make somebodi happi is a question of give and ...
                              ...
6995    give me love ( give me love ) ? just call me ,...
6996    a one two a one two , yeah yeah i 'd like to i...
6997    the clock is tick , and i 'm here wish thi new...
6998    whisper those word that make my mind ? ? so fa...
6999    sometim it 's hard to make thing clear or know...
Name: text, Length: 7000, dtype: object

In [157]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [158]:
tfid = TfidfVectorizer(analyzer = 'word',stop_words = 'english')

In [159]:
matrix = tfid.fit_transform(df['text'])

In [160]:
similar = cosine_similarity(matrix)

In [161]:
similar[2300]

array([0.01446991, 0.00869877, 0.02999378, ..., 0.05467135, 0.07156291,
       0.08311555])

In [167]:
df[df['song'] == 'Bang'].index[1]

1525

# Recommmender Fxn

In [164]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key=lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [165]:
recommender('Bang')

['Sea Of Dreams',
 'The Prime Of Your Love',
 'Bang-A-Boomerang',
 'Endless Love',
 'Boom Boom Boom',
 "Janie's Got A Gun",
 "Boom, Boom, Ain't It Great To Be Crazy?",
 'Solsbury Hill',
 'Bang-Bang',
 'Bang Bang (My Baby Shot Me Down)',
 'Boom Boom',
 'Bang A Drum',
 'X Marks The Spot',
 'The Ants Go Marching',
 'Bang',
 'I Love You Team Breezy',
 'Love Me Tender',
 'Love That Burns',
 'I Do Love You',
 'You']